body {
    background-color: #848487;
}
.whole-flag {
    width: 18em;
    height:12em;
    margin: 0 auto;
}

.blue {
    width: 6em;
    height: 12em;
    background-color: rgb(3,38,102);;
    float: left;
}

.star {
    color: white;
    font-size: 5em;
    line-height: 2.2em;
    font-style: normal;
}

.white {
    width: 12em;
    height: 6em;
    background-color: white;
    float: left;
}

.red {
    width: 12em;
    height: 6em;
    background-color: rgb(190,11,49);
    float:left;
}